nav, footer{
    color: #DDD;
    background-color: #111;
    font-size: 1em;
    border: 1px solid black;
    width: 100%;
}



.content {
    margin: auto;
    max-width: 1024px;
    padding: 0px 25px 0px 25px;
}

main {
    margin-top: 25px;
    margin-bottom: 25px;
}

legend {
    font-weight: bold;
}
input, select, button{
    padding: 0.5em 1em 0.5em 1em;
}

.collapsible {
  cursor: pointer;
}
.collapsible:after {
    content: '\002B';
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2212";
}

/* Style the collapsible content. Note: hidden by default */
.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.container {
    padding: 5px;
}
.container label{
    font-weight: bold;
}

hr {
    border: 0px;
    border-bottom: 1px solid #e5e5e5;
}


img {
    border: 1px solid black;
}
