{% macro input_field(name, label="", unit="", min=none, max=none, required=True, type="number") -%}
<div class="pure-control-group">
    <label for="{{ name }}">{{ label or name  }}</label>
    <input
        type="{{ type }}"
        id="{{ name }}"
        name="{{ name }}"
        placeholder="{{ name }}"
        value="{{ settings|attr(name) }}"
        step="any"
        {% if unit == "%" or min is not none %}min={{ min or 0 }}{% endif %}
        {% if unit == "%" or max is not none %}max={{ max or 100 }}{% endif %}
        {% if required %}required{% endif %}>
    <span class="pure-form-message-inline">{{ unit }}</span>
</div>
{%- endmacro %}


