 <!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scan & Cut</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css" />
    <link rel="stylesheet" href="{{ url_for('static', path='main.css') }}" />
    <script src="https://unpkg.com/feather-icons"></script>
</head>

<body>
    <nav class="pure-menu pure-menu-horizontal">
        <div class="content">
            <a href="/" class="pure-menu-heading pure-menu-link">Scan&Cut</a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item">
                    <a href="/" class="pure-menu-link">New</a>
                </li>
                <li class="pure-menu-item">
                    <a href="#" class="pure-menu-link">Help</a>
                </li>
            </ul>
        </div>
    </nav>

    <main>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </main>

    <footer class="pure-menu pure-menu-horizontal">
        <div class="content">
            <ul class="pure-menu-list">
                <li class="pure-menu-item">
                    <a class="pure-menu-link" href="#">Gitlab</a>
                </li>
            </ul>
        </div>
    </footer>

    <script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight){
          content.style.maxHeight = null;
          
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        }
      });
    }
    </script>

    <script>
        feather.replace()
    </script>
</body>
</html>
