{% extends "base.html" %}

{% macro image(name, label="", download=False) -%}
<div class="container">
    {% set filepath = url_for('tmp', path=path + "/" + name) %}
    <a href="{{ filepath }}" {% if download %}download{% endif %}>
        <img src="{{ filepath }}" class="pure-img" alt="Not been processed yet">
    </a>
</div>
{%- endmacro %}

{% macro input_field(name, label="", unit="", min=none, max=none, required=True, type="number") -%}
<div class="pure-control-group">
    <label for="{{ name }}">{{ label or name  }}</label>
    <input
        type="{{ type }}"
        id="{{ name }}"
        name="{{ name }}"
        placeholder="{{ name }}"
        value="{{ settings|attr(name) }}"
        step="any"
        {% if unit == "%" or min is not none %}min={{ min or 0 }}{% endif %}
        {% if unit == "%" or max is not none %}max={{ max or 100 }}{% endif %}
        {% if required %}required{% endif %}>
    <span class="pure-form-message-inline">{{ unit }}</span>
</div>
{%- endmacro %}


{% macro input_select(name, enum, label="") -%}
<div class="pure-control-group">
    <label for="{{ name }}">{{ label or name }}</label>
    <select name="{{ name }}">
        {% for mode in enum %}
        <option value={{ mode.value }} {% if settings|attr(name) == mode %}selected{% endif %}>{{ mode.name|capitalize }}</option>
        {% endfor %}
    </select>
</div>
{%- endmacro %}

{% macro submit_button(label, formaction=None) -%}
<div class="pure-control-group">
    <label></label>
    <input class="pure-button pure-button-primary" type="submit" value="{{ label }}" {% if formaction %}formaction="{{ formaction }}"{% endif %}>
</div>
{%- endmacro %}

{% block content %}
<form action="#" enctype="multipart/form-data" class="pure-form pure-form-aligned">

<fieldset>
    <legend>General</legend>
    <div class="pure-g">
        <div class="pure-u-1 pure-u-sm-1-3">
            {{ image("source.jpg", label="Source") }}
        </div>
        <div class="pure-u-1 pure-u-sm-2-3">
            {{ input_field("height", label="Page Height", unit="mm") }}
            {{ input_field("width", label="Page Width", unit="mm") }}
            {{ input_field("dpi", label="DPI") }}
        </div>
    </div>
</fieldset>


<fieldset>
    <legend id="identify_page">Page Identification</legend>
    <div class="pure-g">
        <div class="pure-u-1 pure-u-sm-1-3">
            {{ image("page_contours.jpg", label="Source") }}
        </div>
        <div class="pure-u-1 pure-u-sm-2-3">
            {{ input_field("margin", label="Background Margin", unit="%") }}
            {{ submit_button("Identify page", formaction="#identify_page") }}
        </div>
    </div>
</fieldset>
<fieldset>
    <legend id="threshold">Threshold</legend>
    <div class="pure-g">
        <div class="pure-u-1 pure-u-sm-1-3">
            {{ image("threshold.jpg", label="Source") }}
        </div>
        <div class="pure-u-1 pure-u-sm-2-3">
            {{ input_select("threshold_mode", ThresholdMode, label="Threshold Mode") }}
            {{ input_field("line_offset", label="Line Offset", unit="mm") }}
            {{ input_field("threshold_radius", label="Threshold Radius", unit="mm", min=1) }}
            {{ input_field("threshold_weight", label="Threshold Weight") }}
            {{ submit_button("Process Threshold", formaction="#threshold") }}
        </div>
    </div>
</fieldset>
<fieldset>
    <legend id="masks">Masks</legend>
    <div class="pure-g">
        <div class="pure-u-1 pure-u-sm-1-3">
            {{ image("stamps.svg", label="Source") }}
        </div>
        <div class="pure-u-1 pure-u-sm-2-3">
            {{ input_select("trace_mode", TraceMode, label="TraceMode") }}
            {{ input_field("offset", label="Offset", unit="mm") }}
            <hr>
            {{ input_field("trace_simplify", label="Trace simplify") }}
            {{ input_field("trace_width", label="Trace width", unit="mm") }}
            {{ input_field("max_size", label="Pattern Max Size", unit="%") }}
            {{ input_field("min_size", label="Pattern Min Size", unit="%") }}
            {{ input_field("min_level", label="Tracing Min Level") }}
            {{ input_field("max_level", label="Tracing Max Level") }}
            {{ input_field("corner_length", label="Corner size", unit="mm", min=0) }}
            {{ input_field("corner_width", label="Corner thickness", unit="mm", min=0) }}
            {{ submit_button("Process Masks", formaction="#masks") }}
            <div class="pure-control-group">
                <label></label>
                <a class="pure-button pure-button-primary" href="{{ url_for('tmp', path=path + "/stamps.svg") }}" download>Download Mask</a>
            </div>
        </div>
        <div class="pure-u-1 pure-u-sm-1-3">
            {{ image("validation_mask.jpg", label="Source") }}
        </div>
    </div>
</form>
{% endblock %}
