{% extends "base.html" %}

{% block content %}
<form action="/upload" method="post" enctype="multipart/form-data" class="pure-form pure-form-aligned">
<fieldset>
    <legend>General</legend>
    <div class="pure-control-group">
        <label for="image">Image</label>
        <label class="file" for="file">
            <input 
                type="file"
                id="file"
                name="image"
                accept="image/*"
                capture="camera"
                required>
            <span class="file-custom"></span>
        </label>
    </div>
</fieldset>
<div class="pure-controls">
    <input class="pure-button pure-button-primary" type="submit" value="Upload">
</div>
</form>
{% endblock %}
